* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background: #3c74e6;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.input {
    padding: 0 0 20px 0;
}

.rede {
    text-align: center;
}

.rede h2,
.rede a {
    color: #28c742;
}

.box {
    background-color: white;
    padding-top: 30px;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}

.box h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    color: #333;
    font-family: sans-serif;
}

input[type=text] {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #28c742;
    color: #333;
    outline: none;
    font-size: 18px;
}

input[type=text]::placeholder {
    font-size: 18px;
}

#btn {
    font-size: 20px;
    border: 2px solid #3c74e6;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #3c74e6;
    color: rgb(255, 255, 255);
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
}

#btn:hover {
    color: white;
    background-color: #0c81ee;
}